# Exploring a Dataset through Its Metadata

Thursday Sept. 22, 2022

This is sneak preview of what we'll be using Jupyter notebooks to do in this course. For now, look at the code cells below. These Python commands will let you explore the Knoedler Art dataset that we explored in Exercise #2. 

NOTE: the first cell must be run before you can reun the others.

Click on the box below and then click on the (►), the "Run" icon, in the menu above:

In [ ]:
# The command below imports the statistical library we'll be working with
import pandas as pd
# The command below tells our notebook the filepath to the dataset we'll be working with,
# and reads it in in a format that Python can interact with
knoedler_data = pd.read_csv("../_datasets/knoedler-art-auction-dataset/nyc_knoedler.csv")
pd.options.display.max_rows = 100
knoedler_data.head(10)

### What sort of metadata is in this dataset? 
In order to answer this questions, we'll have to figure out what these fields mean
Lucky for us, this dataset comes with a contextual note!

In [16]:
from IPython.display import Markdown, display

display(Markdown("../_datasets/knoedler-art-auction-dataset/contextual-note.md"))

# Contextual Note for NYC Knoedler Dataset

This data comes from Mathew Lincoln's discussion of the dataset used in his "[Critical Data Visualization with Palladio"](https://matthewlincoln.net/mapping-knoedler-palladio/#introduction-to-the-workshop-data0) tutorial.

Dataset downloaded from GitHub in January 2021

This folder includes CSV Lincoln generated from a larger dataset created by staff at the Getty working on the [Getty Provenance Index](https://www.getty.edu/research/tools/provenance/search.html) (a database of metadata about art sales and ownership).

From Lincoln's description in the "Critical Data Visualization with Palladio" tutorial:

> " These data describe a little over 4,100 sales by the fine art dealer M. Knoedler & Co. between roughly 1870-1970, as documented in data encoded from the handwritten stockbooks by staff at the Getty Provenance Index. These stockbooks were where Knoedler recorded details about the artworks that entered their inventory, when and where they bought them from and for how much, and (if sold) who the eventual buyer was."

> The data in nyc_knoedler.csv covers only those cases in which:
> > 1. The transactions were actually recorded in the Knoedler stockbooks (they didn’t always keep good records!)
> > 2. The records contain original purchase and sale dates and prices.
> > 3. We have been able to identify both the buyer and the seller.
> > 4.  The buyer has a known street address located in Manhattan or Brooklyn (i.e. if our only location info says “New York, NY”, it is not included in this subset because it doesn’t contain street-level precision."


## Data dictionary (by Matthew Lincoln)


| field                | description                                                                                                                                                                                                                                                                                 |
| -------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `title`              | Title of the work (if recorded)                                                                                                                                                                                                                                                             |
| `artists`            | Creator(s) of the artwork (if recorded. GPI edtiors recorded the original spelling as written by Knoedler, but also recorded a standardized version if they could identify the artist [e.g. turning "J. Sargent" into "SARGENT, JOHN SINGER"]. This field holds the standardized versions.) |
| `artist_nationality` | Creator(s) nationalities (input by modern editors)                                                                                                                                                                                                                                          |
| `genre`              | Genre of the work (input by modern editors)                                                                                                                                                                                                                                                 |
| `object_type`        | e.g. `Painting`, `Drawing`, `Sculpture` (input by modern editors)                                                                                                                                                                                                                           |
| `height`             | Height in inches (if recorded)                                                                                                                                                                                                                                                              |
| `width`              | Width in inches (if recorded)                                                                                                                                                                                                                                                               |
| `area`               | Area in square inches (if recorded)                                                                                                                                                                                                                                                         |
| `seller`             | Name of seller (Standardized in a similar manner to the artists. Numeric ID if anonymous/unknown)                                                                                                                                                                                           |
| `seller_type`        | e.g. `Dealer`, `Museum`, `Artist`, `Collector`                                                                                                                                                                                                                                              |
| `buyer`              | Name of buyer (Standardized in a similar manner to the artists. Numeric ID if anonymous/unknown)                                                                                                                                                                                            |
| `buyer_type`         | e.g. `Dealer`, `Museum`, `Artist`, `Collector`                                                                                                                                                                                                                                              |
| `buyer_address`      | Buyer address                                                                                                                                                                                                                                                                               |
| `coordinates`        | Coordinates in the format `lat,lon`                                                                                                                                                                                                                                                         |
| `purchase_date`      | Date object brought into Knoedler stock in the format `YYYY-MM-DD`                                                                                                                                                                                                                          |
| `sale_date`          | Date object sold out of Knoedler stock in the format `YYYY-MM-DD`                                                                                                                                                                                                                           |
| `purchase_price`     | Price Knoedler paid to buy the object (normalized to 1900 USD)                                                                                                                                                                                                                              |
| `sale_price`         | Price Knoedler received for selling the object (normalized to 1900 USD)                                                                                                                                                                                                                     |

---

### Taking stock 

Look at the categories in our data dictionary and in the dataset. 

1. What kind of data is captured in this dataset about artwork sales? 
2. What kinds of questions might we ask about it?
3. Anything stand out as particularly noteworthy?

### Using metadata to count 
Right now we have a mix of qualitative data (things like what genre a particular artwork sold was classified as) as well as quantitative data (sale price, sale year, etc). Some of this data is recorded using what's called a "controlled" vocabulary, meaning that it is recorded in a standardized form. Some of these include names (recorded in a standardize manner) and categories like "genre." (For more background on this, see the full Knoedler Stockbooks data dictionary here: https://github.com/thegetty/provenance-index-csv/tree/main/knoedler#data-dictionary

Metadata is useful! It helps us to look at patterns in the larger dataset

What if we want to know the frequence of certain data categories, like different types of art objects in the dataset, the different nationalities of the artists sold by Knoedler, or the top 20 buyers represented in the dataset?  Click on any ofthe 3 cells below, then click (►).

In [2]:
#Show the types of art objects, in order of frequency
knoedler_data["object_type"].value_counts()

Painting      4000
Sculpture      128
Pastel          21
Drawing         13
Book            11
Watercolor       8
Tapestry         7
Print            5
Name: object_type, dtype: int64

In [3]:
#Show the artist nationalities, in order of frequency
knoedler_data["artist_nationality"].value_counts()

French                1664
German                 503
American               445
British                367
Spanish                345
Dutch                  241
Italian                226
Belgian                 86
Unknown                 57
Polish                  55
Russian                 43
Hungarian               21
Swedish                 21
Norwegian               20
Austrian                16
Danish                  13
Netherlandish            9
Flemish                  9
Swiss                    8
Finnish                  5
Greek and Spanish        3
Peruvian                 3
Bohemian                 3
Greek                    3
Czech                    2
Flemish or French        2
Irish                    1
British and German       1
German or Swiss          1
Canadian                 1
Name: artist_nationality, dtype: int64

In [4]:
#Show the top 20 buyers of art from Knoedler
knoedler_data["buyer"].value_counts()[:20]

Hilton, Henry                                       94
Scott and Fowles                                    64
Schenck's Art Gallery                               52
Parke-Bernet Galleries                              44
Gould, Jason (Jay)                                  39
Ryan, Clendenin James Jr.                           37
New York, NY, USA.  Kress (Samuel H.) Foundation    37
Parker, James V.                                    36
Harper, Joseph Abner                                36
Flagler, Henry Morrison                             35
Seney, George Ingraham                              34
Hirschl & Adler Galleries                           33
Morgan, Mary J.                                     30
Raynor, James A.                                    29
Fischhof, Eugène                                    28
Stuart, Robert Leighton                             28
Mertens, William                                    28
Knapp, Joseph Fairchild                             24
Burrill, John E.                                    24
Mathews, Daniel A.                                  24
Name: buyer, dtype: int64

What if we wanted to look at at the frequencies of a different cateogry, like the genres?
Copy the text in the cell above, and change `object-type` to `genre`, then run the cell.

### Using metadata to filter our dataset

What if we want to use the "genre" category to look for only paintings that were classified as "Animals"? Click on the cell below, then click (►).

In [3]:
knoedler_data[knoedler_data["genre"] == "Animals"]

,title,artists,artist_nationality,genre,object_type,height,width,area,seller,seller_type,buyer,buyer_type,buyer_address,coordinates,purchase_date,sale_date,purchase_price,sale_price,sale_year,purchase_year
21,Turtle,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,"Mallet, Ernst",Dealer,"Henschel, Charles R.",Collector,"22 E. 47th St., New York, NY, USA","40.756873,-73.979111",6/12/12,4/10/17,2777.777778,30.0,1917,1912
38,Lion walking,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,Roebel and Reinhardt Galleries,Dealer,"Sheffield, James Rockwell, Mrs.",Collector,"45 E. 67th St., New York, NY, USA","40.76838,-73.967527",10/5/12,12/9/20,5000.000000,1137.5,1920,1912
39,Tiger walking,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,Roebel and Reinhardt Galleries,Dealer,"Sheffield, James Rockwell, Mrs.",Collector,"45 E. 67th St., New York, NY, USA","40.76838,-73.967527",10/2/12,12/4/20,5000.000000,1137.5,1920,1912
47,Cattle,"VOLTZ, FRIEDRICH",German,Animals,Painting,NaN,NaN,NaN,"Fleischmann, E.A. Fine Art Gallery",Dealer,"Myers, Julien L.",Collector,"5 W. 53rd St., New York, NY, USA","40.760522,-73.975865",1878-10-10,1879-12-12,3114.000000,900.0,1879,1878
52,Lion with lifted Paw,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,"Messmore, Carman Harriot",Collector,"Heckscher, August",Collector,"320 Park Ave., New York, NY, USA","40.757458,-73.973914",11/4/12,1/3/17,300.000000,300.0,1917,1912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4180,Panther at the spring,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,"Mallet, Ernst",Dealer,"Scholle, Albert W.",Collector,"763 Fifth Ave., New York, NY, USA","40.764208,-73.973922",12/12/11,2/9/12,4000.000000,2500.0,1912,1911
4181,Jaguar sleeping,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,"Mallet, Ernst",Dealer,"Scholle, Albert W.",Collector,"763 Fifth Ave., New York, NY, USA","40.764208,-73.973922",12/12/11,12/2/12,3500.000000,2500.0,1912,1911
4182,Eagle on a rock,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,"Mallet, Ernst",Dealer,"Winthrop, Grenville Lindall",Collector,"27 E. 37th St., New York, NY, USA","40.749575,-73.98156",12/12/11,4/1/12,3500.000000,1600.0,1912,1911
4186,Bear Playing,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,Obach and Company,Dealer,"Redmond, Roland L.",Collector,"31 E. 72nd St., New York, NY, USA","40.771781,-73.965435",7/7/11,1/11/21,65.000000,650.0,1921,1911
4187,Jaguar & Gavial,"BARYE, ANTOINE LOUIS",French,Animals,Sculpture,NaN,NaN,NaN,Obach and Company,Dealer,"Holmes, Myron",Collector,"36 E. 49th St., New York, NY, USA","40.758523,-73.979223",7/7/11,10/4/15,45.000000,350.0,1915,1911

## Using Metadata to get a sense of the dataset itself

Metadtaa can tell us a lot! Importantly, it can tell us not just the things that the dataset describes, but what's going on in the dataset itself. 

**Question: We know this is data from Knoedler auctions between 1870-1970, but how much coverage does this dataset actually have?**

Let's take a look at those coordinates. Click on the cell below, then click (►).

In [5]:
knoedler_data["sale_year"].value_counts(sort=False)

1876     73
1880    248
1884     63
1888     59
1900      5
1904     59
1908     52
1912     87
1916     58
1920     23
1928     25
1932      7
1936      3
1940     14
1944     10
1948     14
1952     10
1956     66
1960     28
1964     15
1968     33
1972     23
1873     16
1877    118
1881    287
1885     68
1889     78
1901     92
1905     89
1909     78
1913     35
1917     32
1921      4
1925      1
1929      7
1933      4
1937      6
1941      7
1945     13
1949     57
1953     29
1957     45
1961     37
1965      8
1969     15
1874     18
1878    185
1882    221
1886    125
1890     47
1894      1
1898      1
1902     18
1906    108
1910     74
1914     14
1918     17
1922      1
1930     19
1934     14
1938     17
1942      7
1946      1
1950     10
1954     84
1958     20
1962     18
1966     24
1970      7
1875    107
1879    177
1883    160
1887    141
1891      1
1899      2
1903     63
1907     75
1911     20
1915     14
1919     24
1923      2
1927    100
1931      5
1935      7
1939     13
1943     10
1951     19
1955     62
1959     15
1963      8
1967     16
Name: sale_year, dtype: int64

Let's try to plot this data to get a better sense of it.Click on the cell below, and then click (►).

In [ ]:
knoedler_data["sale_year"].value_counts(sort=False).plot(kind='bar', figsize=(25,8), rot=45)

What do you notice about the patterns in sale? What can we say about those gaps––knowing what we know about the dataset?